discord>=2.3.2
ruamel.yaml
trafilatura
pypdf
pytest==7.4.0
pytest-dependency==0.5.1
openai
langgraph
langchain
langchain-openai
langchain-community
langchain-tavily
langfuse
mem0ai
websockets
chromadb>=1.5.8